<h1>Project Manager v1.0</h1>

  <%= link_to "New Project", new_project_path %>
  <br><br>
  <% @projects.each do |project| %>
  	<%= link_to project.name, project_path(project) %>
  	<%= link_to "Edit", edit_project_path(project) %>
  	<%= link_to "Delete", project_path(project), method: :delete%>
  	<br>

  <% end %>
